#contact {width:100%;position: relative;font-size:18px;line-height:1.5;}
.fWrap {border:solid 1px #e8e8e8;}
.fWrap .f_util > li {padding:5px;border-bottom:solid 1px #e8e8e8; }

.fWrap .ctt {width:80%;padding:100px;}
.fWrap .cont {text-align:left;line-height: 1.5;margin:20px 10px;}
.fWrap .cont th {color:#9b9b9b;width:150px;padding: 10px;vertical-align:middle;border:1px solid #fff;}
.fWrap .cont td {color:#27aae0;width:350px;padding: 10px;vertical-align:middle;border: 1px solid #fff;}
.fWrap .cont a {color:#0088cc;text-decoration: none;}
.fWrap .cont a:hover {border-bottom:solid 3px #0088cc;padding-bottom:5px;}


