/*@font-face {
	font-family:"Open Sans";
	src:url('../fonts/OpenSans-Regular.eot');
	src:url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/OpenSans-Regular.woff') format('woff');
}
*/

/*@font-face {
	font-family:"Open SansB";
	src:url('../fonts/OpenSans-Bold.eot');
	src:url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Bold.woff') format('woff');
}
*/
@font-face {
	font-family:"NamsanL";
	src:url('../fonts/SeoulNamsanL.eot');
	src:url('../fonts/SeoulNamsanL.eot?#iefix') format('embedded-opentype');
	src:local(※),url('../fonts/SeoulNamsanL.woff') format('woff');

	
}


@font-face {
	font-family:"NamsanM";
	src:url('../fonts/SeoulNamsanM.eot');
	src:url('../fonts/SeoulNamsanM.eot?#iefix') format('embedded-opentype');
	src:local(※),url('../fonts/SeoulNamsanM.woff') format('woff');

}

